@font-face {
  font-family: 'weather';
  src: url('../font/weather.eot?91846761');
  src: url('../font/weather.eot?91846761#iefix') format('embedded-opentype'),
       url('../font/weather.woff?91846761') format('woff'),
       url('../font/weather.ttf?91846761') format('truetype'),
       url('../font/weather.svg?91846761#weather') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'weather';
    src: url('../font/weather.svg?91846761#weather') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "weather";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-sun:before { content: '\e800'; } /* '' */
.icon-moon:before { content: '\e801'; } /* '' */
.icon-cloud-sun:before { content: '\e802'; } /* '' */
.icon-cloud-moon:before { content: '\e803'; } /* '' */
.icon-cloud:before { content: '\e804'; } /* '' */
.icon-clouds:before { content: '\e805'; } /* '' */
.icon-rain:before { content: '\e806'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e807'; } /* '' */
.icon-fahrenheit:before { content: '\e808'; } /* '' */
.icon-celcius:before { content: '\e809'; } /* '' */
.icon-snow-heavy:before { content: '\e80a'; } /* '' */
.icon-fog:before { content: '\e80b'; } /* '' */