
.icon-sun:before { content: '\e800'; } /* '' */
.icon-moon:before { content: '\e801'; } /* '' */
.icon-cloud-sun:before { content: '\e802'; } /* '' */
.icon-cloud-moon:before { content: '\e803'; } /* '' */
.icon-cloud:before { content: '\e804'; } /* '' */
.icon-clouds:before { content: '\e805'; } /* '' */
.icon-rain:before { content: '\e806'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e807'; } /* '' */
.icon-fahrenheit:before { content: '\e808'; } /* '' */
.icon-celcius:before { content: '\e809'; } /* '' */
.icon-snow-heavy:before { content: '\e80a'; } /* '' */
.icon-fog:before { content: '\e80b'; } /* '' */